.slider {
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding: 5px;
    margin: 10px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: purple;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: purple;
    cursor: pointer;
}

 .unsafe {
     margin-top: 5px; 
  }

h3 {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    padding-top: 5px;
    padding-left: 10px;
}

.alignleft {
	float: left;
    padding: 0px;
    padding-left: 10px;
    margin: 0;
}
.alignright {
	float: right;
    padding-right: 10px;
    margin: 0;
}

.aligncenter {
    text-align: center;
    margin: 0;
}

.textbox {
    height: 50%;
    margin: 0;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-col-feat {
    margin: 5px;
    width: 100%;
}

.container {
	max-width: 1100px;
	margin: 0;
}

.cards {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 15px;
	padding: 1.5%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.card {
	position: relative;
	margin-bottom: 20px; 
	padding-bottom: 30px; 
	background: #fefff9;
	color: #363636;
	text-decoration: none;
		max-width: 320px;
		margin-right: 20px;
		margin-bottom: 20px;
}

	span {
		display: block;
	}
	.card-summary {
		padding: 5% 5% 3% 5%;
	}
	.card-header {
		position: relative;
		height: 175px;
		overflow: hidden;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-color: rgba(white,.15);
 		background-blend-mode: overlay;
	
	}
	.card-title {
		background: purple;
		padding: 3.5% 0 2.5% 0;
		color: white;
		font-family: 'Roboto Condensed', sans-serif;
		text-transform: uppercase;
		position: absolute;
		bottom: 0;
		width: 100%;
	
	}
	.card-meta {
		max-height: 0;
		overflow: hidden;
		color: #666;
		font-size: .78em;
		text-transform: uppercase;
		position: absolute;
		bottom: 5%;

	}


img {
	max-width: 100%; 
}

body {
	background :#f0f0f0;
	font-size: 17px; 
	line-height: 1.4;
	font-family: 'Jaldi', sans-serif;
}

* {
transition-property(
    background-color,
    border-color,
    box-shadow,
    color,
    opacity,
    text-shadow,
    transform
  );

 
